@charset "UTF-8";
@-moz-keyframes input_focus {
  0% {
    -moz-box-shadow: 0rem 0rem 0.1rem 0rem rgba(0, 0, 0, 0.9);
    box-shadow: 0rem 0rem 0.1rem 0rem rgba(0, 0, 0, 0.9);
  }
  100% {
    -moz-box-shadow: 0rem 0rem 0.15rem 0rem rgba(25, 118, 210, 0.9);
    box-shadow: 0rem 0rem 0.15rem 0rem rgba(25, 118, 210, 0.9);
  }
}
@-webkit-keyframes input_focus {
  0% {
    -webkit-box-shadow: 0rem 0rem 0.1rem 0rem rgba(0, 0, 0, 0.9);
    box-shadow: 0rem 0rem 0.1rem 0rem rgba(0, 0, 0, 0.9);
  }
  100% {
    -webkit-box-shadow: 0rem 0rem 0.15rem 0rem rgba(25, 118, 210, 0.9);
    box-shadow: 0rem 0rem 0.15rem 0rem rgba(25, 118, 210, 0.9);
  }
}
@keyframes input_focus {
  0% {
    -moz-box-shadow: 0rem 0rem 0.1rem 0rem rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0rem 0rem 0.1rem 0rem rgba(0, 0, 0, 0.9);
    box-shadow: 0rem 0rem 0.1rem 0rem rgba(0, 0, 0, 0.9);
  }
  100% {
    -moz-box-shadow: 0rem 0rem 0.15rem 0rem rgba(25, 118, 210, 0.9);
    -webkit-box-shadow: 0rem 0rem 0.15rem 0rem rgba(25, 118, 210, 0.9);
    box-shadow: 0rem 0rem 0.15rem 0rem rgba(25, 118, 210, 0.9);
  }
}
/* line 18, ../sass/widget.scss */
a {
  text-decoration: none;
}

/* line 21, ../sass/widget.scss */
ul, li {
  list-style: none;
}

/* line 24, ../sass/widget.scss */
.card-depth-01, .input-cmn-btn, .btn-cmn-strong, .btn-cmn-safety, .btn-cmn-consent, .btn-cmn-negative, .box-cmn-z1, .lnk-cmn-02:active {
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

/* line 27, ../sass/widget.scss */
.card-depth-02, .input-cmn-btn:hover, .btn-cmn-strong:hover, .btn-cmn-safety:hover, .btn-cmn-consent:hover, .btn-cmn-negative:hover, .box-cmn-z2, .lnk-cmn-02 {
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 3px 0 rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 3px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 3px 0 rgba(0, 0, 0, 0.23);
}

/* line 30, ../sass/widget.scss */
.card-depth-03, .box-cmn-z3 {
  -moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
}

/* line 33, ../sass/widget.scss */
.card-depth-04, .box-cmn-z4 {
  -moz-box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22);
}

/* line 36, ../sass/widget.scss */
.card-depth-05 {
  -moz-box-shadow: 0 19px 19px 0 rgba(0, 0, 0, 0.3), 0 15px 6px 0 rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 19px 19px 0 rgba(0, 0, 0, 0.3), 0 15px 6px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 19px 0 rgba(0, 0, 0, 0.3), 0 15px 6px 0 rgba(0, 0, 0, 0.22);
}

/* line 39, ../sass/widget.scss */
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 50, ../sass/widget.scss */
.sample {
  animation: animationSample 2s ease-in 0s 1 normal forwards running;
}

/* line 53, ../sass/widget.scss */
html {
  background-color: #f4f4f4;
}

/* line 57, ../sass/widget.scss */
.input-cmn-txt {
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.8rem;
  height: 1.2rem;
  transition: box-shadow 0.3s ease-in-out 0s;
  background-color: white;
  -moz-box-shadow: 0rem 0rem 0.05rem 0rem rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0rem 0rem 0.05rem 0rem rgba(0, 0, 0, 0.9);
  box-shadow: 0rem 0rem 0.05rem 0rem rgba(0, 0, 0, 0.9);
  -moz-border-radius: 0.12rem;
  -webkit-border-radius: 0.12rem;
  border-radius: 0.12rem;
}
/* line 65, ../sass/widget.scss */
.input-cmn-txt:focus {
  -moz-box-shadow: 0rem 0rem 0.05rem 0.05rem rgba(56, 142, 60, 0.9);
  -webkit-box-shadow: 0rem 0rem 0.05rem 0.05rem rgba(56, 142, 60, 0.9);
  box-shadow: 0rem 0rem 0.05rem 0.05rem rgba(56, 142, 60, 0.9);
}

/* line 69, ../sass/widget.scss */
.input-cmn-btn {
  color: rgba(255, 255, 255, 0.95);
  background-color: #7b1fa2;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 5rem;
  height: 2rem;
  transition: background-color 0.2s ease-in-out 0s;
  transition: box-shadow 0.2s ease-in-out 0s;
  cursor: pointer;
}
/* line 80, ../sass/widget.scss */
.input-cmn-btn:hover {
  background-color: #a347ca;
}

/* line 86, ../sass/widget.scss */
.lbl-cmn-required:after {
  content: "必須";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 2.5rem;
  -moz-border-radius: 0.12rem;
  -webkit-border-radius: 0.12rem;
  border-radius: 0.12rem;
  color: rgba(255, 255, 255, 0.95);
  background-color: #d32f2f;
}

/* line 100, ../sass/widget.scss */
.lbl-cmn-option:after {
  content: "任意";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 2.5rem;
  -moz-border-radius: 0.12rem;
  -webkit-border-radius: 0.12rem;
  border-radius: 0.12rem;
  color: rgba(255, 255, 255, 0.95);
  background-color: #1976d2;
}

/* line 113, ../sass/widget.scss */
.btn-cmn-strong {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.95);
  background-color: #d32f2f;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 5rem;
  height: 2rem;
  transition: background-color 0.2s ease-in-out 0s;
  transition: box-shadow 0.2s ease-in-out 0s;
  cursor: pointer;
}
/* line 127, ../sass/widget.scss */
.btn-cmn-strong:hover {
  background-color: #fb5757;
}

/* line 132, ../sass/widget.scss */
.btn-cmn-safety {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.95);
  background-color: #388e3c;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 5rem;
  height: 2rem;
  transition: background-color 0.2s ease-in-out 0s;
  transition: box-shadow 0.2s ease-in-out 0s;
  cursor: pointer;
}
/* line 146, ../sass/widget.scss */
.btn-cmn-safety:hover {
  background-color: #60b664;
}

/* line 151, ../sass/widget.scss */
.btn-cmn-consent {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.95);
  background-color: #1976d2;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 5rem;
  height: 2rem;
  transition: background-color 0.2s ease-in-out 0s;
  transition: box-shadow 0.2s ease-in-out 0s;
  cursor: pointer;
}
/* line 165, ../sass/widget.scss */
.btn-cmn-consent:hover {
  background-color: #419efa;
}

/* line 170, ../sass/widget.scss */
.btn-cmn-negative {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.95);
  background-color: #616161;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 5rem;
  height: 2rem;
  transition: background-color 0.2s ease-out 0s;
  transition: box-shadow 0.2s ease-out 0s;
  cursor: pointer;
}
/* line 184, ../sass/widget.scss */
.btn-cmn-negative:hover {
  background-color: #898989;
}

/* line 189, ../sass/widget.scss */
.box-cmn-z1 {
  background: white;
  width: 10rem;
  height: 10rem;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
}

/* line 196, ../sass/widget.scss */
.box-cmn-z2 {
  background: white;
  width: 10rem;
  height: 10rem;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
}

/* line 203, ../sass/widget.scss */
.box-cmn-z3 {
  background: white;
  width: 10rem;
  height: 10rem;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
}

/* line 211, ../sass/widget.scss */
.box-cmn-z4 {
  background: white;
  width: 10rem;
  height: 10rem;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
}

/* line 218, ../sass/widget.scss */
.lnk-cmn-01 {
  display: inline-block;
  color: #1976d2;
}
/* line 221, ../sass/widget.scss */
.lnk-cmn-01:hover {
  color: #73d0ff;
  text-shadow: 0 0 5px #9bf8ff;
}

/* line 226, ../sass/widget.scss */
.lnk-cmn-02 {
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 10rem;
  height: 10rem;
  top: 0rem;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: top 0.3s ease-out 0s;
}
/* line 239, ../sass/widget.scss */
.lnk-cmn-02:hover {
  top: -0.3rem;
  background-color: #ff5f52;
}
